apiVersion: apps/v1
kind: Deployment
metadata:
  name: cdn-api
  namespace: cdn
spec:
  replicas: 2
  serviceAccountName: cdn-service-account
  selector:
    matchLabels:
      app: cdn-api
  template:
    metadata:
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "9091"
        prometheus.io/path: "/metrics"
      labels:
        app: cdn-api
    spec:
      containers:
        - name: cdn-api
          image: 791954933241.dkr.ecr.ap-southeast-2.amazonaws.com/cdn-api:latest
          ports:
            - containerPort: 3000
          envFrom:
            - configMapRef:
              name: cdn-config
            - secretRef:
              name: cdn-secrets
          resources:
            limits:
              memory: "512Mi"
              cpu: "256m"
            requests:
              memory: "256Mi"
              cpu: "128m"
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
          livenessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 20
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 5
