apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: cdn-worker-hpa
  namespace: cdn
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: cdn-worker
  minReplicas: 2
  maxReplicas: 4
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 75
