name: Deploy AWS Infrastructure

on:
  push:
    branches: [main]
    paths:
      - "infra/**"
      - ".github/workflows/deploy-infra.yaml"

permissions:
  id-token: write # Required for AWS OIDC authentication
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  deploy-dev:
    runs-on: ubuntu-latest
    environment: dev
    defaults:
      run:
        working-directory: ./infra/envs/dev

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: arn:aws:iam::791954933241:role/GitHubActionsRole
          aws-region: ap-southeast-2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Apply
        run: terraform apply -auto-approve

  deploy-prod:
    needs: deploy-dev
    runs-on: ubuntu-latest
    environment: production
    defaults:
      run:
        working-directory: ./infra/envs/prod

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: arn:aws:iam::791954933241:role/GitHubActionsRole
          aws-region: ap-southeast-2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Apply
        run: terraform apply -auto-approve
