name: Infrastructure Check

on:
  pull_request:
    branches: [main]
    paths:
      - "infra/**"
      - ".github/workflows/infra-check.yaml"

permissions:
  id-token: write # Required for AWS OIDC authentication
  contents: read
  pull-requests: write # Required to post the plan as a comment

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  terraform-plan:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        env: [dev, prod]
    defaults:
      run:
        working-directory: ./infra/envs/${{ matrix.env }}

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: arn:aws:iam::791954933241:role/GitHubActionsRole
          aws-region: ap-southeast-2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Format
        run: terraform fmt -recursive ../../

      - name: Terraform Format Check
        run: terraform fmt -recursive -check ../../

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan -no-color

      - name: Run Checkov
        uses: bridgecrewio/checkov-action@master
        with:
          directory: infra/envs/${{ matrix.env }}
          framework: terraform
          soft_fail: true # Set to false to block builds on errors
